/* confurações do menu de navegação */
#nav_pg4 {
    width: 100%;
    height: 125px;
    background-color:#aba5a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* configuração da imagem */
#logo {
    margin-left: 24px;
    width: 258px;
    height: 100px;
}

ul {
    font-size: 24px;
    display: flex;
    list-style: none;
    gap: 24px;
    margin-right: 48px;
    font-family: 'Lemon/Milk';
    
}

.linksNav_pg4 {
    
    text-decoration: none;
    color: #181717;
}

.listaTopo_pg4 {
    padding: 8px;
}

.listaTopo_pg4:hover {
    background-color: #f4ebe9;
    color: #181717;
    border-radius: 8px;
}